@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen bg-gradient-to-b from-violet-900 to-purple-800;

  header {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.link-animation {
  @apply transition ease-in-out duration-300 hover:-translate-y-1 hover:scale-150;
  @apply text-gray-50 text-center font-semibold text-xl leading-9;
}

.screen-centered {
  @apply h-screen w-full fixed top-0 left-0 flex flex-wrap justify-center content-center;
}

.form {
  @apply flex flex-col space-y-4 justify-center;
  button {
    @apply m-auto;
  }
}

.panel {
  @apply h-full bg-violet-800 rounded-[20px] shadow-sm;
}

.vertical-center {
  @apply h-full flex flex-col gap-2 justify-center items-center;
}

.clipboard {
  @apply bg-gray-50/50 py-2.5 px-4 rounded-[20px];
  @apply flex max-w-[80%] sm:max-w-xs;
  button {
    @apply bg-transparent hover:bg-transparent p-0 text-gray-900;
    svg {
      @apply w-6 h-6 hover:text-gray-50;
    }
  }
}

.pop-up {
  @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110;
}
