@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply h-screen bg-gradient-to-b from-violet-900 to-purple-800;

  header {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.link-animation {
  @apply transition ease-in-out duration-300 hover:-translate-y-1 hover:scale-150;
}

.screen-centered {
  @apply h-screen w-full fixed top-0 left-0 flex flex-wrap justify-center content-center;
}

.vertical-center {
  @apply h-full flex flex-col gap-2 justify-center items-center;
}

.game-info {
  @apply h-full flex flex-col gap-16 text-center justify-evenly;
}

.form {
  @apply flex flex-col space-y-4 justify-center;
  button {
    @apply m-auto;
  }
}

.panel {
  @apply h-full bg-violet-800 rounded-[20px] shadow-sm;
}

.pop-up {
  @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110;
}

.h1 {
  @apply text-2xl leading-8 font-bold text-gray-50;
}

.h2 {
  @apply text-xl leading-7 font-bold text-gray-50;
}

.h3 {
  @apply text-sm leading-5 font-semibold text-gray-50;
}

.text {
  @apply text-xs leading-4 font-normal text-gray-50;
}
