<div>
  <header>
    <div class="border-none float-right">
      <a
        href="https://github.com/samaraoliveiram/jelly-games"
        target="_blank"
        class="font-bold text-gray-50"
      >
        GitHub
      </a>
    </div>
  </header>
  <main>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>
</div>
