<div>
  <header>
    <div class="border-none float-right">
      <a
        href="https://github.com/samaraoliveiram/jelly-games"
        target="_blank"
        class="font-bold text-gray-50"
      >
        GitHub
      </a>
    </div>
  </header>
  <main>
    <.flash_group flash={@flash} />
    <div class="h-screen w-full fixed top-0 left-0 flex flex-wrap justify-center content-center">
      {@inner_content}
    </div>
  </main>
</div>
