name: Build and Test Elixir Server

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  base-check-elixir:
    name: Jelly CD
    uses: ./.github/workflows/base.ci.yml
    with:
      project-name: jelly-games
      project-directory: ./jelly-games
      db-image: 16.3
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
