name: Build and Test Elixir Server

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-check:
    uses: ./.github/workflows/base.ci.yml
    with:
        project-name: jelly-games
        version-file: .tool-versions
        db-image: postgres:16.3
    secrets: inherit
