name: Build and Test Elixir Server

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    name: 'Jelly CD'
    strategy:
      fail-fast: false
    uses: ./.github/workflows/base.cd.yml
    with:
      matrix: ${{ toJson(matrix) }}
    secrets: inherit
